$fa-font-path: "/font" !default;
$family-sans-serif: 'Roboto';
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/bulma/bulma";
@import "node_modules/bulma-calendar/dist/css/bulma-calendar.min";
@import "select2";
@import "side_navigation";
@import "documents";
@import "search";
@import "loader";
@import "fonts";
@import "tags";
@import "upload";
@import "slider";

.is-full-width {
  width: 100%;
}
@media screen and (max-width: $tablet - 1px) {
  .is-full-width-mobile {
    width: 100%;
  }
}

.bg-pan-bottom {
  -webkit-animation: bg-pan-bottom 4s infinite ease 1s alternate both;
  animation: bg-pan-bottom 4s infinite ease 1s alternate both
}

@-webkit-keyframes bg-pan-bottom {
  0% {
    background-position: 50% 0
  }
  100% {
    background-position: 50% 100%
  }
}

@keyframes bg-pan-bottom {
  0% {
    background-position: 50% 0
  }
  100% {
    background-position: 50% 100%
  }
}

aside,
.navbar-brand {
  font-family: 'Bellota';
}

.is-upload {
  background-image: linear-gradient(to top, #7affc2 0%, #6c4788 100%);
  background-size: 100% 300%;
  color: white;

  &:hover {
    -webkit-animation: bg-pan-bottom 4s infinite ease 1s alternate both;
    animation: bg-pan-bottom 4s infinite ease 1s alternate both;
    color: white;
  }

  & span {
    color: white;
  }
}

.datetimepicker-dummy.is-primary .datetimepicker-clear-button {
  display: none;
}

.button.is-type-chooser {
  font-size: 4.5rem;
}

.blinking {
  animation: blinkingText 1.8s ease alternate-reverse infinite;
}

@keyframes blinkingText {
  0% {
    color: transparent;
  }
  30% {
    color: #6ba28e;
  }
  70% {
    color: #6e6491;
  }
}

.notification.is-fixed {
  position: fixed;
  bottom: 0;
  z-index: 100;
  right: 0;
  margin: 24px;
  max-width: 400px;
}


.is-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

input::-moz-placeholder,
textarea::-moz-placeholder,
select select::-moz-placeholder {
  color: rgba(200, 200, 200, 1);
}


#preview-container {
  display: none;
}

.page-edit-container figure.image img {
  object-fit: contain;
}

.page-edit-container .item {
  text-align: center;
}

.page-edit-container figure.deleted::after {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 900;
  content: '\f05e';
  background: #ffffffdb;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-top: 50%;
  color: #cb3e3e;
  font-size: 48px;
}

.page-edit-container .item {
  position: relative;
}

.page-edit-container figure {
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.page-edit-container figure.rotate-90 {
  transform: rotate(90deg);
}

.page-edit-container figure.rotate-180 {
  transform: rotate(180deg);
}

.page-edit-container figure.rotate-270 {
  transform: rotate(270deg);
}

.page-edit-container .item .page-name {
  font-family: "Bellota";
  font-size: 1rem;
  padding: 16px 8px 0 8px;
  position: absolute;
  background: #ffffffd4;
  left: calc(50% - 16px);
  top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}