/.idea/
/storage/
/ignored
/errors
/input
/processed
/data/
/input/
/deployment/.env
/deployment/examples/.env
/local-data/
/docs/build/
/paperspace.db
/paperspace.db-shm
/paperspace.db-wal
/tesseract_opencl_profile_devices.dat
