ENABLE_MAIL=<ENABLE MAILS? [true|false]>
MAIL_TO_ADDRESS=<WHO SHOULD RECEIVE MAILS [string]>
MAIL_FROM_ADDRESS=<THE SENDER OF THE MAILS [string]>
MAIL_ATTACH_DOCUMENTS=<SHOULD WE ATTACH THE DOCUMENTS TO THE MAIL? [true|false]>
MAILING_HOST=<YOUR MAIL HOST THE APPLICATION SHOULD CONNECT TO. [string]>
MAILING_PORT=<THE PORT FOR YOUR MAIL HOST [integer]>
MAILING_PROTOCOL=<WHICH MAIL PROTOCOLL SHOULD WE USE [smtp|pop3]>
MAILING_SMTP_AUTH=<SHOULD WE AUTHENTICATE? [true|false]>
MAILING_SMTP_USE_STARTTLS=<SHOULD WE USE STARTSL? [true|false]>
MAILING_USERNAME=<WHICH USER SHOULD CONNECT TO YOUR MAIL PROVIDER? [string]>
MAILING_PASSWORD=<THE PASSWORD OF THE MAIL USER [true|false]>
OCR_LANGUAGE=<IN WHICH LANGUAGE ARE YOUR DOCUMENTS FOR EXAMPLE deu? [string]>
